body {
    display: flex;
    width: 100dvw;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--background-color);
}

h4, h5{
    font-family: 'quartzo';
    color: var(--purple-medium);
    text-align: center;
}

h4{
    font-size: 52px !important;
}

h5{
    font-size: 40px !important;
    margin-bottom: 20px !important;
}

main.about_us{
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 120px;
    padding-bottom: 200px;
}

p{
    font-size: 30px;
    font-weight: 700;
    color: #667382;
}

.second_sec, .third_sec{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.text_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.wrapper_img_sec img{
    height: 400px;
}