body{
    display: flex;
    width: 100dvw;
    background-color: var(--background-color);
    overflow-x: hidden;
    background-image: url(../../img/background_loc.png);
    background-position: right center;
}

main.main_loc{
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
}

h3{
    font-family: 'quartzo'; /* Define um nome para sua fonte */
    color: var(--purple-medium);
    font-size: 52px;
}

.info{
    display: flex;
    width: 30%;
    flex-direction: column;
}

p.info_loc{
    font-size: 23px;
    font-weight: 800;
    margin-top: 30px;
}

.btn_monte_loc{
    display: flex;
    border: 2px solid var(--purple-medium);
    width: 300px;
    height: 80px;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 50px;
    color: var(--purple-medium);
    transition: all .3s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn_monte_loc:hover{
    background-color: var(--purple-medium);
    color: var(--background-color);
}

.info_img{
    display: flex;
    position: relative;
    top: -6%;
    left: 69%;
    background-color: #741B9E;
    color: var(--background-color);
    font-family: 'quartzo';
    width: 250px;
    justify-content: center;
    height: 90px;
    align-items: center;
    font-size: 20px;
}

@media only screen and (max-width: 1400px){
    main.main_loc{
        width: 80%;
    }

    .info_img{
        left: 59%;  
    }

    .wrapper_img img{
        width: 600px;
    }
}

@media only screen and (max-width: 1200px){

    
    main.main_loc {
        width: 80%;
        margin: 0 auto;
    }

    .wrapper_img{
        display: none
    }

    .info{
        width: 100%;
    }

}