body {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

div.img_logo {
  margin-top: 5vh;
}

h3 {
  font-weight: 600;
  margin-top: 3vh;
}

form.form_login{
  display: flex;
}

form.form_login, form.form_cadastro {
  justify-content: center;
  margin-top: 2.5vh;
}

#see_pass {
  display: flex;
  height: 2vh;
  width: 2vh;
  margin-right: 10px;
}

.forget_pass {
  display: flex;
  width: 91%;
  margin: auto;
  margin-top: 2vh;
  align-items: center;
  font-size: 12px;
}

.forget_pass_btn {
  text-align: right;
  margin: auto;
  color: var(--purple-medium);
  cursor: pointer;
  font-weight: 1000;
  transition: all 0.2s;
}
.forget_pass_btn:hover {
  text-decoration: underline;
}

div.signin_sec {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 3vh;
  font-size: 14px;
}

.sign_btn {
  display: flex;
  color: var(--purple-medium);
  margin-left: 2%;
  cursor: pointer;
  transition: all 0.3s;
}

.sign_btn:hover {
  text-decoration: underline;
  color: var(--purple-medium);
}

.name_rights {
  display: flex;
  font-size: 12px;
  margin-top: 7vh;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .img_comp {
    display: none;
  }
}

.cadastro_sec{
  display: none;
}