body{
    display: flex;
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

}

span#btn_return{
    color: var(--purple-medium);
    font-size: 15px;
    cursor: pointer;
}

.img_comp{
    background-image: url(../../img/top-view-delicious-ice-cream-with-cookies.webp);
    background-position: right center;
}
