body{
    display: flex;
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

}

span#btn_return{
    color: var(--purple-medium);
    font-size: 15px;
    cursor: pointer;
}

