.error_wrapper{
    display: flex;
    width: 100dvw;
    height: 100dvh;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper_texto{
    font-family: monospace;
    font-weight: bolder;
    font-size: 46px;
}

.log_error{
    color: var(--purple-medium);
}

.btn_login{
    display: flex;
    height: 55px;
    background-color: var(--purple-medium);
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 34%;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    margin-top: 25px;
    transition: all .2s;
}

.btn_login:hover{
    background-color: #9016c9;
    transform: scale(1.05);
}